/*Main frame*/
.mainframe{
  width: 600px;
  height: 800px;
  margin: 0px auto;
  background-color: lightyellow;
  border: 2px solid darkblue;
  border-radius: 10px;
  /*background-image: url('../images/homeimg.png');*/
}

/* Ham burger Menu */
.hamburger-menu-button {
  width: 40px;
  height: 40px;
  padding: 6px;
  display: block;
  position: absolute;
  top: 10px;
  z-index: 100;
  background: darkblue;
  border: 5px solid white;
  box-sizing: content-box;
  border-radius: 50%;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.hamburger-menu-button-open {
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
}
.hamburger-menu-button-open,
.hamburger-menu-button-open::before,
.hamburger-menu-button-open::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger-menu-button-open::before,
.hamburger-menu-button-open::after {
  left: 0;
  content: "";
}
.hamburger-menu-button-open::before {
  top: 6px;
}
.hamburger-menu-button-open::after {
  bottom: 6px;
}
.hamburger-menu-button-close {
  background: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hamburger-menu-button-close::before {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}
.hamburger-menu-button-close::after {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}

/* Menu */

/* Notification */

/* Floor Navigator */

/* Perspective Arrow */
.arrow {
  position: absolute;
  top: 650px;
}

.arrow-leftArrow {
 display: none;
}
.arrow-rightArrow {
 display: none;
}
.floorLevel {
  position: absolute;
  top: 750px;
}

.floorLevel-homeImg {
  display: block;
  border-radius: 10px;
}



.mySlides {
  display:none;
}
.mainframe-mySlides {
  border-radius: 10px;
}

.browseAllFloors {
  position: absolute;
  top: 750px;
}
